.root {
  height: 30px;
  width: 30px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s, border-color 0.3s;
  border: 1.5px solid transparent;
  background-color: $cGray3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;

  svg {
    width: 17px;
  }

  &:hover {
    background-color: lighten($cPrimaryDim, 0.3);
  }

  @media screen and (max-width: 600px) {
    height: 24px;
    width: 24px;

    svg {
      width: 15px;
    }
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.active {
  border-color: $cPrimary;
  background-color: $cPrimaryDim;
  color: $cPrimary;
}

.danger {
  background-color: #ffd9d9;
  color: $cRed;

  &:hover {
    background-color: #ffcece;
  }
}
