.root {
  position: relative;
}

.pickerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--c-gray1);
  background: none;
  outline: none;
  color: var(--c-gray1);
  height: 36px;
  width: 36px;
  border-radius: 4px;

  .value {
    border-radius: 2px;
  }

  &:hover {
    color: var(--c-gray0-dark);
  }

  .value {
    width: 85%;
    height: 85%;
    border-radius: 4px;
  }

  &.error {
    border-color: var(--c-red);
    color: var(--c-red);
    background-color: var(--c-red-dim2);
  }
}

.list {
  list-style: none;
  display: flex;
  gap: 4px;
  background-color: var(--c-white);
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0;
  max-width: 174px;
  width: max-content;
  flex-wrap: wrap;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 10;

  li {
    height: 30px;

    button {
      height: 30px;
      width: 30px;
      border: none;
      background: none;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
  }
}

.topLeft {
  top: -8px !important;
  left: 0;
  right: unset;
  transform: translateY(-100%);
}

.topRight {
  top: -8px !important;
  right: 0;
  left: unset;
  transform: translateY(-100%);
}

.bottomRight {
  right: 0;
  left: unset;
}

.bottomLeft {
  left: 0;
  right: unset;
}

.clearBtn {
  color: var(--c-red);
  border: 1px dashed var(--c-red-dim2);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--c-red-dim);
  }
}
