.opener {
  width: 30px !important;
  height: 30px !important;
  border-radius: 4px !important;

  @media screen and (max-width: 600px) {
    width: 24px !important;
    height: 24px !important;
  }
}
