:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --c-white: #ffffff;

  --c-gray0-dark: #7e7e7e;
  --c-gray1: #b5b5b5;

  --c-red: #bf2828;
  --c-red-dim: #f5e7e7;
  --c-red-dim2: #fff8f8;
}
